
.all_check{
    font-family: "nanum";
    font-weight: bold;
    font-size : 18px;
    margin: auto;
}

thead {
    font-size: 20px;
    color: #616060;
    text-align: center;
}


.comment{
    font-family: "nanum";
    font-weight: bold;
    font-size : 17px;
    margin: auto;
    vertical-align: auto;
    text-align: center;
}

.check_box{
    margin: auto;
	width: 20px;
	height: 20px;
	border: 2px solid #ffffff;
	cursor: pointer;
}

.comment_acc{
    font-weight: bold;
    font-size : 15px;
    text-align: center;
}

.comment_check{
    text-align: center;
    margin: auto; 
}